@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

body {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-image: linear-gradient(to right, grey, white);
    font-family: 'Roboto', sans-serif;
}



.upper-div h2 {
    font-size: 50px;
    letter-spacing: 5px;
    padding-bottom: 20px;
}
.upper-div h4 {
    font-size: 35px;
    padding-bottom: 20px;
    letter-spacing: 2px;
}

.main-div img {
    height: 350px;
    border-radius: 12px;
    width:100%;
}

.main-div {
    position: relative;
    text-align: center;
}

.main-span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.datetime {
    color: #fff;
    background: #10101E;
    font-family: "Segoe UI", sans-serif;
    width: 340px;
    padding: 15px 10px; 
    border: 3px solid #2E94E3;
    border-radius: 5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
    transition: 0.5s;
    transition-property: background, box-shadow;
}

.datetime:hover {
    background: #2E94E3;
    box-shadow: 0 0 30px #2E94E3;
}


.date {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

.time {
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time span:not(:last-child) {
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

.time span:last-child{
    background: #2E94E3;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 3px;
}

.bottom-div li {
    padding-bottom: 6px;
    padding-top: 6px;
    list-style: none;
}

.main-div {
    padding-top: 10px;
    font-weight: 600;
}

.bottom-div {
    font-weight: 600;
}

.main-image {
    z-index: 1
}

.main-span {
    z-index: -1;
}